.tabs-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Courier New', monospace;
    background-color: #d9c5a1;
    border: 2px solid #8b5e34;
    border-radius: 8px;
    margin: 0 5px;
}

.tab.active {
    background-color: #8b4513;
    color: white;
}

.content {
    display: none;
    padding: 20px;
    background-color: #f5e4c3;
    border: 2px solid #8b4513;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.content.active {
    display: block;
}

.character-info {
    border-bottom: 1px solid #8b5e34;
    padding: 10px;
}

.notes-section {
    display: flex;
    gap: 20px;
}

.notes-section textarea {
    width: 100%;
    height: 150px;
    border: 2px solid #8b5e34;
    padding: 10px;
    border-radius: 8px;
}

.creation-div {
    background-color: #f5e4c3;
    padding: 20px;
    border: 2px solid #8b5e34;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    font-family: 'Courier New', monospace;
    color: #3b2e1e;
}

h2 {
    font-family: 'Georgia', serif;
    color: #4b2e05;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 2px solid #8b5e34;
    border-radius: 8px;
    background-color: #fffbe6;
}

button {
    background-color: #8b5e34;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #a66f3d;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #d9c5a1;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
    border: 1px solid #8b5e34;
}
